* {
    padding: 1px;
    margin:  0;
}

body {
    /* overflow: hidden; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.small {
    color: #686868;
}

.icon {
    filter: invert(100%);
    width: 20vmin;
    height: 20vmin;
}

.climbs__climb {
    padding-bottom: 2px;
    border-bottom: 1px solid #eee;
}

.climbs__add {
    width: 20vmin; /* 20vmin ensures it's 20% of the smaller dimension */
    height: 20vmin; /* Same as width to maintain a perfect circle */
    max-width: 200px; /* Max width to limit scaling */
    max-height: 200px; /* Max height to limit scaling */
    border-radius: 50%; /* Ensures it's a circle */
    background-color: #3498db; /* Adjust background color */
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin; /* Adjust the font size as needed */
    color: white; /* Adjust the color as needed */
    /* height: 100px; */
    user-select: none;
}

.climbs__empty {
    text-align: center;
    padding-bottom: 2px;
    color: #c8c8c8;
    user-select: none;
}

/*selectors*/
select {
    width: 100%;
    height: 10vmin;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add__header {
    width: 100%;
    font-size: 2vmin;
    padding: 12px 20px;
    margin: 8px 0;
    color: #222
}

.add__button {
    width: 100%;
    padding: 12px 20px;
    font-size: 1.5vmin;
}